.full-width {
    width: 100vw;
    position: relative;
    margin-left: -51vw;
    left: 50%;
}

.galleria {
    width: 100vw;
    background: transparent;
    margin-bottom: 10px;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: none;
}

.galleria__inner {
    display: flex;
    align-items: start;
    position: relative;
    cursor: grab;
    touch-action: none;
}

.galleria__inner:active {
    cursor: grabbing;
}

.galleria__item {
    flex: 0 0 300px;
    padding: 0 1rem;
}

.galleria__item h1 {
    padding-bottom: 0 !important;
}

.galleria__item a {
    color: #fff !important;
    font-family: 'CircularStd';
    font-weight: 600;
    border-color: #fff;
}

.galleria__item-inner {
    width: 700px;
    height: 400px;
    align-items: left;
    justify-content: left;
    padding: 2em;
    font-family: sans-serif;
    color: #fff;
    background: #00b388;
    border-radius: 5px;
}

@media all and (max-width: 850px) {
    .full-width {
        margin-left: -53vw;
    }
    .galleria__item-inner {
        width: 400px;
        height: 400px;
    }
}

@media all and (max-width: 630px) {
    .full-width {
        margin-left: -55vw;
    }
    .galleria__item {
        padding: 0 0.3rem;
    }
    .galleria__item-inner {
        width: 300px;
        height: 500px;
    }
}