a {
    color: rgb(140, 140, 250);
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

svg {
    fill: rgb(191, 191, 191) !important;
    color: rgb(41, 41, 41) !important;
}

embed[type="application/pdf"] {
    filter: invert(90%);
}

html {
    color: rgb(191, 191, 191);
}

body {
    background-color: rgb(31, 31, 31);
    background-image: none !important;
}

input,
select,
textarea,
button {
    color: rgb(191, 191, 191);
    background-color: rgb(31, 31, 31);
}

font {
    color: rgb(191, 191, 191);
}

html {
    filter: contrast(100%) brightness(100%) saturate(100%);
}

.NIGHTEYE_Filter {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    pointer-events: none;
    z-index: 2147483647;
}

.NIGHTEYE_YellowFilter {
    background: rgba(255, 255, 0, 0.15);
    opacity: 0;
}

.NIGHTEYE_BlueFilter {
    background: rgba(0, 0, 255, 0.15);
    opacity: 0;
}

.NIGHTEYE_DimFilter {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.NIGHTEYE_TransformZ {
    transform: translateZ(0px);
}

[class*=" icon-"]::before,
[class^="icon-"]::before {
    font-family: fontello;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
    -webkit-font-smoothing: antialiased;
}

.brightness-toggle {
    background: rgb(153, 153, 230);
    color: rgb(41, 41, 41);
}

body {
    font-family: "Aktiv Grotesk Ex", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: rgb(191, 191, 191);
    background-color: rgb(28, 28, 33);
    font-size: 14px;
    line-height: 1.7;
    display: flex;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

::selection {
    text-shadow: none;
    color: rgb(191, 191, 191);
    background: rgb(102, 75, 0);
}

html {
    overflow: hidden;
}

html.loaded {
    overflow: auto;
}

html::after {
    content: "";
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: url("../images/preloader.gif") center center no-repeat rgb(28, 28, 33);
}

html.loaded::after {
    display: none;
}

body {
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    opacity: 0;
}

html.loaded body {
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Aktiv Grotesk Ex", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin: 1em 0px 0.66em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0px;
}

h1 {
    font-size: 6vw;
    line-height: 1.1;
    margin-top: 0px;
    letter-spacing: -1px;
}

h2 {
    font-size: 1.8em;
    line-height: 1.3;
}

h3 {
    font-size: 1.25em;
    line-height: 1.3;
}

.profile-image+h1 {
    margin-top: 28px;
}

h4 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

p:last-child {
    margin-bottom: 0px;
}

.is-text-light {
    color: rgb(255, 255, 255);
}

.is-text-light a {
    color: rgb(255, 255, 255);
}

.rounded {
    border-radius: 50%;
}

.soft-rounded {
    border-radius: 8px;
}

.is-text-align-center {
    text-align: center;
}

.is-text-align-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-family: "Aktiv Grotesk Ex", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 800;
}

.is-small-typo h1 {
    font-size: 24px;
    line-height: 1.3;
}

.is-small-typo {
    font-size: 14px;
}

.is-medium-typo h1 {
    font-size: 36px;
    line-height: 1.2;
}

.is-medium-typo {
    font-size: 15px;
}

.content-wrap {
    width: 80%;
    margin: 0px auto;
    max-height: 100%;
    position: relative;
    z-index: 20;
}

.content {
    padding: 3em 0px;
}

.media {
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.is-masked-dark .media::after,
.is-masked-light .media::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(28, 28, 33, 0.79);
    z-index: 1;
}

.is-masked-dark .media::after {
    background: rgba(36, 36, 36, 0.4);
}

.is-masked-gradient-blue .media::after {
    background-image: linear-gradient(60deg, rgb(61, 52, 147) 0px, rgb(46, 119, 184) 37%, rgb(51, 171, 204) 65%, rgb(75, 210, 145) 100%);
    opacity: 0.9;
}

.is-masked-gradient-pink .media::after {
    background-image: linear-gradient(to right, rgb(74, 100, 74) 0px, rgb(74, 100, 74) 0px, rgb(146, 48, 192) 0px, rgb(185, 60, 177) 33%, rgb(184, 46, 103) 66%, rgb(184, 46, 103) 100%);
    opacity: 0.9;
}

.is-masked-gradient-purple .media::after {
    background-image: linear-gradient(to top, rgb(36, 35, 139) 0px, rgb(90, 22, 38) 100%);
    opacity: 0.9;
}

.is-masked-gradient-red .media::after {
    background-image: linear-gradient(to top, rgb(206, 59, 96) 0px, rgb(122, 52, 31) 100%);
    opacity: 0.9;
}

.is-masked-gradient-green .media::after {
    background-image: linear-gradient(rgb(75, 210, 150) 0px, rgb(51, 145, 204) 100%);
    opacity: 0.9;
}

.profile-image {
    max-height: 92px;
}

.profile-image.is-outside {
    margin-top: -50%;
    margin-bottom: 0px;
}

.logo {
    margin-bottom: 24px;
}

.is-framed::after {
    content: "";
    position: fixed;
    z-index: 200;
    pointer-events: none;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 15px solid rgb(18, 18, 18);
}

.is-boxed .content {
    background: rgb(28, 28, 33);
}

.is-boxed-dark .content {
    background: rgb(18, 18, 18);
}

.is-boxed,
.is-split-layout {
    flex-wrap: wrap;
}

.is-boxed .media,
.is-split-layout .media {
    position: relative;
    height: 70%;
}

.is-split-layout .content {
    position: relative;
    z-index: 100;
}

.link-1 {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: inherit;
    padding: 0px 1px;
    transition: color 0.3s ease 0s;
}

.link-1::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 6%;
    min-height: 2px;
    left: 0px;
    bottom: 0px;
    background-color: rgb(191, 191, 191);
    transition: all 0.3s ease 0s;
}

.link-1:hover {
    color: rgb(41, 41, 41);
}

.link-1:hover::after {
    height: 100%;
}

.link-1.blue::after {
    background: rgb(153, 153, 230);
}

.link-2 {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: inherit;
    padding: 0px 1px;
    transition: color 0.3s ease 0s;
}

.link-2::after,
.link-2::before {
    content: "";
    position: absolute;
    background-color: rgb(33, 33, 33);
    z-index: -1;
    height: 2px;
}

.link-2::before {
    width: 0%;
    left: 0px;
    bottom: 0px;
    transition: width 0.4s ease 0s;
}

.link-2::after {
    width: 100%;
    left: 0px;
    bottom: 0px;
    transition: all 0.6s ease 0s;
}

.link-2:hover::before {
    width: 100%;
}

.link-2:hover::after {
    left: 100%;
    width: 0%;
    transition: all 0.2s ease 0s;
}

.link-2.blue::after,
.link-2.blue::before {
    background: rgb(153, 153, 230);
}

.button {
    border: 2px solid rgb(191, 191, 191);
    font-family: inherit;
    font-size: 16px;
    line-height: 1;
    color: rgb(191, 191, 191);
    text-decoration: none;
    background: 0px 0px;
    cursor: pointer;
    padding: 16px 32px;
    margin: 10px 20px 0px 0px;
    display: inline-block;
    outline: 0px;
    position: relative;
    transition: all 0.3s ease 0s;
    overflow: hidden;
}

.button:only-child {
    margin-right: 0px;
}

.button.small {
    font-size: 13px;
    padding: 8px 20px;
}

.button.rounded {
    border-radius: 50px;
}

.button.soft-rounded {
    border-radius: 5px;
}

.button.rounded-soft {
    border-radius: 4px;
}

.button::after {
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgb(191, 191, 191);
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease 0s;
}

.button:active,
.button:hover {
    color: rgb(41, 41, 41) !important;
}

.button:active {
    transition: all 0.1s ease 0s;
    transform: scale(0.9);
    outline: 0px;
}

.button:active::after,
.button:hover::after {
    width: 100%;
}

.button.light {
    border-color: rgb(28, 28, 33);
}

.button.light::after {
    background: rgb(28, 28, 33);
}

.button.light:active,
.button.light:hover {
    color: rgb(191, 191, 191) !important;
}

.button.blue {
    border-color: rgb(153, 153, 230);
    color: rgb(153, 153, 230);
}

.button.blue::after {
    background: rgb(153, 153, 230);
}

.button i {
    display: inline-block;
    margin-right: 5px;
}

.button i.right {
    margin-right: 0px;
    margin-left: 5px;
}

.button i::before {
    font-size: 120%;
}

.highlight {
    display: inline-block;
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    background: rgb(18, 18, 18);
}

.highlight.blue {
    background: rgb(153, 153, 230);
}

.text.blue {
    color: rgb(153, 153, 230);
}

#typed-strings {
    display: none;
}

.typed-cursor {
    opacity: 1;
    animation: 0.7s ease 0s infinite normal none running blink;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 21px;
    }
    .profile-image {
        max-height: 128px;
    }
    .profile-image.small {
        max-height: 92px;
    }
    .profile-image.big {
        max-height: 192px;
    }
    h1 {
        font-size: 5vw;
        line-height: 1;
        letter-spacing: -3px;
    }
    .is-boxed .content {
        padding: 3em 4em;
    }
    .is-boxed .content-wrap {
        max-width: 400px;
    }
    .is-boxed .content {
        position: relative;
        z-index: 500;
        padding: 3em;
    }
    .is-boxed .media {
        position: fixed;
        width: 100%;
        height: 100%;
    }
    .is-boxed h1 {
        margin-bottom: 24px;
    }
    .is-boxed:not(.is-small-typo) p {
        font-size: 17px;
    }
    .is-v-align-top {
        align-items: flex-start;
    }
    .is-v-align-bottom {
        align-items: flex-end;
    }
    .is-h-align-left .content-wrap {
        margin-left: 0px;
    }
    .is-h-align-right .content-wrap {
        margin-right: 0px;
    }
    .media {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        bottom: 0px;
    }
    .is-split-layout .media {
        position: fixed;
        width: 50%;
        height: 100%;
    }
    .is-split-layout .content-wrap {
        margin-right: 0px;
        width: 50%;
    }
    .is-media-right .media {
        left: auto;
        right: 0px;
    }
    .is-media-right .content-wrap {
        margin-left: 0px;
    }
    .is-split-layout .content {
        padding: 3em;
    }
}

@media screen and (min-width: 1200px) {
    .content-wrap {
        width: 50%;
    }
    .content {
        padding: 4em 0px;
    }
    .is-split-layout .content {
        padding: 5em;
    }
    .is-split-layout-narrow .content-wrap {
        width: 30%;
    }
    .is-split-layout-narrow .media {
        width: 70%;
    }
    .button.huge {
        font-size: 20px;
        padding: 22px 40px;
    }
}

@media screen and (min-width: 1600px) {
    .content-wrap {
        width: 50%;
    }
    .content {
        padding: 6em 0px;
    }
    .is-split-layout .content {
        padding: 7em;
    }
}

body {
    background: rgb(41, 41, 41);
}

#typed {
    color: rgb(153, 153, 230);
}

h1 {
    margin-bottom: 0px;
}

.button.blue {
    border-color: rgb(153, 153, 230);
    color: rgb(153, 153, 230);
}

.button.blue::after {
    background: rgb(153, 153, 230);
}

[tooltip] {
    position: relative;
    display: inline-block;
}

[tooltip]::after,
[tooltip]::before {
    text-transform: none;
    font-size: 0.9em;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: "";
    z-index: 1001;
}

[tooltip]::after {
    content: attr(tooltip);
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1em 2em -0.5em;
    background: rgb(191, 191, 191);
    color: rgb(41, 41, 41);
    z-index: 1000;
}

[tooltip]:hover::after,
[tooltip]:hover::before {
    display: block;
}

[tooltip=""]::after,
[tooltip=""]::before {
    display: none !important;
}

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0px;
    border-top-color: rgb(51, 51, 51);
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::after,
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::after,
[tooltip][flow^="up"]::before {
    left: 50%;
    transform: translate(-50%, -0.5em);
}

[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0px;
    border-bottom-color: rgb(51, 51, 51);
}

[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
}

[tooltip][flow^="down"]::after,
[tooltip][flow^="down"]::before {
    left: 50%;
    transform: translate(-50%, 0.5em);
}

[tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0px;
    border-left-color: rgb(51, 51, 51);
    left: calc(0em - 5px);
    transform: translate(-0.5em, -50%);
}

[tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-0.5em, -50%);
}

[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0px;
    border-right-color: rgb(51, 51, 51);
    right: calc(0em - 5px);
    transform: translate(0.5em, -50%);
}

[tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(0.5em, -50%);
}

@keyframes tooltips-vert {
    100% {
        opacity: 0.9;
        transform: translate(-50%, 0px);
    }
}

@keyframes tooltips-horz {
    100% {
        opacity: 0.9;
        transform: translate(0px, -50%);
    }
}

[tooltip]:not([flow]):hover::after,
[tooltip]:not([flow]):hover::before,
[tooltip][flow^="down"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="up"]:hover::before {
    animation: 0.3s ease-out 0s 1 normal forwards running tooltips-vert;
}

[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="right"]:hover::after,
[tooltip][flow^="right"]:hover::before {
    animation: 0.3s ease-out 0s 1 normal forwards running tooltips-horz;
}

@media (max-width: 480px) {
    .button {
        width: 100%;
        text-align: center;
    }
}

.github-corner:hover .octo-arm {
    animation: 560ms ease-in-out 0s 1 normal none running octocat-wave;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0deg);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: 0s ease 0s 1 normal none running none;
    }
    .github-corner .octo-arm {
        animation: 560ms ease-in-out 0s 1 normal none running octocat-wave;
    }
}