body {
    background: #F0F0F0;
}

#typed {
    color: #0d6efd;
}

h1 {
    margin-bottom: 0;
}

.button.blue {
    border-color: #0d6efd;
    color: #0d6efd;
}

.button.blue:after {
    background: #0d6efd;
}