@import url('https://fonts.googleapis.com/css?family=Roboto Mono:400,700');

html,
body,
main {
    font-family: 'Roboto Mono', serif;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #212529;
}

#drawer {
    z-index: 100;
}

#close_op {
    display: none;
    position: absolute;
    background-color: #101010;
    width: 100%;
    height: 100%;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

#close_op.nav_active {
    display: block;
    opacity: 0.25;
}

a#menu svg {
    float: left;
    margin: 1.5em 1.5em;
    width: 40px;
    fill: #fff;
}

a#menu span {
    font-family: 'Roboto Mono', serif;
    font-size: 1.4em;
    color: #fa5252;
    font-weight: 700;
    position: relative;
    margin: 1.4em 0 0 -0.3em;
    display: inline-block;
    z-index: 1;
}

a#menu span:before {
    content: 'class ';
    color: #fff;
}

a#menu span:after {
    content: '()';
    color: #fff;
}

a#close svg {
    margin: 1.5em 1.5em;
    width: 40px;
    fill: #fff;
    float: right;
}

nav {
    width: 300px;
    height: 100%;
    position: absolute;
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
}

nav.open {
    transform: translate(0, 0);
}

nav h2 {
    color: #fa5252;
    font-family: 'Roboto Mono', sans-serif;
}

nav h2:before {
    content: 'def ';
    color: #fff;
}

nav h2:after {
    content: '()';
}

nav p {
    color: #fff;
    font-family: 'Roboto Mono', sans-serif;
}

.main-content {
    width: 80%;
    margin: 0 auto;
}

.main-content h1 {
    width: 800px;
    font-family: 'Roboto Mono', serif;
    color: #fa5252;
    line-height: 1.1em;
    font-size: 6em;
    margin: 1em 0 0.4em 0;
    letter-spacing: -2px;
}

.main-content h1:before {
    content: 'print("';
    color: #fff;
}

.main-content h1:after {
    content: '")';
    color: #fff;
}

.main-content p {
    margin: 3em 0 0 0;
    color: #fff;
    font-size: 1em;
    line-height: 1.5em;
}

.main-content a {
    text-decoration: none;
    color: #fff;
}

span {
    color: #fa5252;
}

.main-content a:before {
    content: '# ';
    color: #fa5252;
    font-weight: 700;
}

.button-actions {
    padding: 1em;
    border: 1px solid #fff;
    border-radius: 5px;
}

.nav-content {
    margin: 1.5em 1.5em;
}

.nav-content h2 {
    font-family: 'Roboto Mono', serif;
    line-height: 1.2em;
}

.nav-content p {
    font-family: 'Roboto Mono';
    color: #fff;
    line-height: 1.5em;
}

.nav-content p:before {
    content: 'print("';
    color: #fa5252;
    font-weight: 700;
}

.nav-content p:after {
    content: '")';
    color: #fa5252;
    font-weight: 700;
}

.nav-content ul,
li {
    display: block;
    padding: 0;
    margin-bottom: 1em;
}

.nav-content ul li:nth-child(1) {
    margin-top: 2em;
}

.nav-content li a {
    text-decoration: none;
    color: #fff;
}

.nav-content li a:before {
    content: 'def ';
    color: #fa5252;
    font-weight: 700;
}

.nav-content li a:after {
    content: '()';
    color: #fa5252;
    font-weight: 700;
}

.cover-sample {
    background-color: #212529;
    background-size: cover;
    height: auto;
}

.light-blue {
    ;
    background: #b2dfee;
}

.dark {
    background: #101010;
}

.footer {
    margin: 90px 0 0 0;
    width: 100%;
    height: 10px;
}

.footer a {
    font-size: 0.8em;
    padding-right: 1em;
    border-right: 1px solid #fff;
}

.footer a:before {
    content: 'def ';
    color: #fa5252;
    font-weight: 700;
}

.footer a:after {
    content: '()';
    color: #fa5252;
    font-weight: 700;
}

.footer a:nth-child(even) {
    padding-left: 1em;
}

.footer a:nth-child(odd) {
    padding-left: 1em;
}

.footer a:nth-child(1) {
    padding-left: 0;
}

.footer a:nth-child(3) {
    border: none;
}

@media screen and (max-width: 670px) {
    .footer {
        margin: 90px 0 100px 0;
    }
    .footer a {
        font-size: 0.9em;
        border: none;
        padding: 0;
        display: block;
        margin-bottom: 4px;
    }
    .footer a:nth-child(even) {
        padding: 0;
    }
    .footer a:nth-child(odd) {
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    nav {
        width: 75%;
    }
    a#menu span {
        font-family: 'Roboto Mono', serif;
        font-size: 1em;
        position: relative;
        margin: 2.2em 0 0 -1em;
        display: inline-block;
    }
}

@media screen and (max-width: 600px) {
    .cover-sample {
        background-position: center;
        background-color: #212529;
        background-size: cover;
    }
    .main-content {
        margin: auto;
    }
    .main-content h1 {
        width: 400px;
        font-size: 4em;
    }
    .button-actions {
        padding: 0.7em;
        border: 1px solid #fff;
        border-radius: 3px;
    }
}

@media screen and (max-width: 400px) {
    .main-content h1 {
        width: 300px;
        font-size: 3em;
        margin: 0 0 0.4em 0;
    }
    .main-content a {
        font-size: 0.9em;
        text-decoration: none;
        color: #fff;
    }
    .button-actions {
        padding: 0.6em;
        border: 1px solid #fff;
        border-radius: 3px;
    }
}

@media screen and (max-width: 485px) {
    .footer a {
        border: none;
        padding: 0;
        display: block;
        margin-bottom: 4px;
    }
    .footer a:nth-child(even) {
        padding: 0;
    }
    .footer a:nth-child(odd) {
        padding: 0;
    }
}