@font-face {
    font-family: 'Modern Era';
    src: url('ModernEra-Black.woff2') format('woff2'), url('ModernEra-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modern Era';
    src: url('ModernEra-Regular.woff2') format('woff2'), url('ModernEra-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modern Era';
    src: url('ModernEra-Bold.woff2') format('woff2'), url('ModernEra-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modern Era';
    src: url('ModernEra-Medium.woff2') format('woff2'), url('ModernEra-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modern Era';
    src: url('ModernEra-ExtraBold.woff2') format('woff2'), url('ModernEra-ExtraBold.woff') format('woff');
    font-weight: 650;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modern Era';
    src: url('ModernEra-Light.woff2') format('woff2'), url('ModernEra-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}