---
layout: default
title: "Testing: netlify-plugin-html-minify"
---

</head>
<body oncontextmenu="return false " onselectstart="return false ">
    <div class="content-wrap ">
        <div class="content ">
            <h1>Page Not Found</h1>
            <p>The page you requested is unavailable, has moved to another location, or is inaccessible. If you think this is a mistake, send an error report to <a class="link-1 " href="mailto:report@marcreyes.ph?subject=Site Error Report (marcreyes.ph)
        ">report@marcreyes.ph</a>                or <a class="link-1 " href="https://marcreyes.ph ">head back home</a> to try finding it again.</p>
        </div>
    </div>
    <script src="js/main.js "></script>
</body>
