---
layout: default
title: "Testing: netlify-plugin-html-minify"
---

<body class="is-split-layout is-media-right" oncontextmenu="return false" onselectstart="return false">
    <div class="media" style="background-image:url(images/hero.jpg)"></div>
    <div class="content-wrap">
        <div class="content">
            <h1>I'm Marc, a Software Engineer from the Philippines.</h1>
            <p>
                Building software, automating processes, and making data-driven decisions is what I enjoy most about my work. Currently working at <a class="link-1" href="https://gcash.com" target="_blank">GCash</a> as a Machine Learning Engineer.
            </p>
            <p>
                I’m <a class="link-1" href="https://twitter.com/marcreyesph" target="_blank">tweeting</a>, taking
                <a class="link-1" href="https://www.instagram.com/marcxplanet" target="_blank">photos</a>, and pushing my
                <a class="link-1" href="https://github.com/marcreyesph" target="_blank">codes</a> for the world to see.
            </p>
            <p>For collaboration and job opportunities <a class="link-2" href="mailto:hello@marcreyes.ph">hello@marcreyes.ph</a></p>

            <p><a class="button huge bold" href="https://marcreyes.xyz">View Projects</a></p>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>