<title>{{ page.title }}</title>
<meta charset="UTF-8">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta property="og:image" content="{{ 'images/og-image.png' | cdn }}">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#0d6efd">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#9999e6">
<link rel="shortcut icon" href="{{ 'images/ico/favicon.ico' | cdn }}">
<link rel="apple-touch-icon " href="{{ 'images/ico/apple-touch-icon.png' | cdn }}">
<link rel="stylesheet" type="text/css" href="{{ 'css/fonts/fontello/css/fontello.css' | cdn }}">
<link rel="stylesheet" type="text/css" href="{{ 'css/fonts/david/stylesheet.css' | cdn }}">
<link rel="stylesheet" type="text/css" href="{{ 'css/main.css' | cdn }}" media="(prefers-color-scheme: light)">
<link rel="stylesheet" type="text/css" href="{{ 'css/override.css' | cdn }}">
<link rel="stylesheet" type="text/css" href="{{ 'css/dark.css' | cdn }}" media="(prefers-color-scheme: dark)">
<script type="module" src="{{ 'js/dark-mode-toggle.mjs' | cdn }}"></script>