<title>{{ page.title }}</title>
<meta charset="UTF-8">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta property="og:image" content="{{ 'images/og-image.png' | absolute_url }}">
<meta name="theme-color" content="#0d6efd">
<link rel="shortcut icon" href="{{ 'images/ico/favicon.ico' | absolute_url }}">
<link rel="apple-touch-icon " href="{{ 'images/ico/apple-touch-icon.png' | absolute_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'css/fonts/fontello/css/fontello.css' | absolute_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'css/fonts/ll/circular.css' | absolute_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'css/main.css' | absolute_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'css/override.css' | absolute_url }}">