@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-Light.woff2') format('woff2'), url('UntitledSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-Regular.woff2') format('woff2'), url('UntitledSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-Medium.woff2') format('woff2'), url('UntitledSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-Bold.woff2') format('woff2'), url('UntitledSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}