<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <a href="https://connorbaer.co/{% if site.url == 'https://connorbaer.co' and page.url == '/' %}#" data-scroll{% else %} "{% endif %} aria-label="Visit 'Made by Connor.' ">{% include custom/logo.html %}</a>
		</div>
		<div class="footer-navigation">
			<div class="footer-links">
				<h4 class="footer-title">{{ site.title }}</h4>
				<nav>
					{% include core/navigation.html %}
				</nav>
			</div>
			<div class="footer-links">
				<h4 class="footer-title">Social</h4>
				<nav>
					<ul class="nav">
						<li class="nav-link">
							<a href="https://www.facebook.com/marcxplanet" target="_blank" rel="noopener noreferrer">Facebook</a>
						</li>
						<li class="nav-link">
							<a href="https://twitter.com/marcreyesph" target="_blank " rel="noopener noreferrer">Twitter</a>
						</li>
						<li class="nav-link">
							<a href="https://instagam.com/marcxplanet" target="_blank " rel="noopener noreferrer">Instagram</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<h6 class="footer-text ">© {{ site.time | date: '%Y' }} <a href="https://twitter.com/{{ site.author.twitter }} " aria-label="Follow {{ site.author.name }} on Twitter. ">{{ site.author.name }}</a>. All rights reserved.</h6>
	</div>
</footer>