<ul class="nav">
{% assign entries = site.pages | where: "lang", page.lang | sort: "order" %}
{% for entry in entries %}
  {% unless entry.exclude == true %}
    {% if entry.title == "Blog" %}
      <li class="nav-link">
        <a class="{% if page.url == entry.url %} nav-active{% endif %}" href="https://blog.marcreyes.ph" aria-label="{{ entry.title }}">{{ entry.title }}</a>
      </li>
    {% else %}
    <li class="nav-link">
      <a class="{% if page.url == entry.url %} nav-active{% endif %}" href="{{ site.baseurl }}{{ entry.url }}" aria-label="{{ entry.title }}">{{ entry.title }}</a>
    </li>
    {% endif %}
	{% endunless %}
{% endfor %}
{% for entry in site.navigation %}
  <li class="nav-link">
    <a href="{{ entry[1] }}" aria-label="{{ entry[0] }}">{{ entry[0] }}</a>
  </li>
{% endfor %}
  <li class="nav-link">
    <a class="{% if page.url == entry.url %} nav-active{% endif %}" href="https://marcreyes.xyz" aria-label="Projects">🚀 Projects</a>
  </li>
</ul>
