
@font-face {
  font-family: 'TiemposFineBlack';
  src: url('TiemposFineBlack.eot?#iefix') format('embedded-opentype'),  url('TiemposFineBlack.otf')  format('opentype'),
	     url('TiemposFineBlack.woff') format('woff'), url('TiemposFineBlack.ttf')  format('truetype'), url('TiemposFineBlack.svg#TiemposFineBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
