@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@font-face {
    font-family: circular-bold;
    font-weight: lighter;
    src: url(./lineto-circular-bold.woff);
}

@font-face {
    font-family: circular-black;
    font-weight: lighter;
    src: url(./lineto-circular-black.woff);
}

html, body, main {
	position: absolute;
	z-index: -1;
	font-family: 'Roboto', serif;
	margin: 0;
	width: 100%;
	height: 100%;
}
#close_op {
	display: none;
	position: absolute;
	background-color: #101010;
	width: 100%;
	height: 100%;
	-webkit-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}
#close_op.nav_active {
	display: block;
	opacity: 0.25;
}
a#menu svg {
	float: left;
	margin: 1.5em 1.5em;
	width: 40px;
	fill: #fff;
}
a#menu span {
	font-family: 'circular-bold', serif;
	font-size: 1.4em;
	color: #fff;
	font-weight: lighter;
	position: relative;
	margin: 1.4em 0 0 -0.3em;
	display: inline-block;
}
a#close svg{
	margin: 1.5em 1.5em;
	width: 40px;
	fill: #fff;
	float: right;
}
nav {
	width: 300px;
	height: 100%;
	position: absolute;
	transform: translate(-300px, 0);
	transition: transform 0.3s ease;
}
nav.open {
	transform: translate(0,0);
}
nav h2, p {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
.main-content {
	width: 80%;
	margin: 0 auto;
}
.main-content h1 {
	width: 500px;
	font-family: 'circular-black', serif;
	font-weight: lighter;
	color: #fff;
	line-height: 1.03em;
	font-size: 6em;
	margin: 1em 0 0.4em 0;
}
.main-content a {
	text-decoration: none;
	color: #fff;
}
.button-actions {
	padding: 1em;
	border: 1px solid #fff;
	border-radius: 5px;
}
.nav-content {
	margin: 1.5em 1.5em;
}
.nav-content h2 {
	font-weight: lighter;
	font-family: 'circular-bold', serif;
	line-height: 1.2em;
}
.nav-content p{
	font-family: 'Roboto';
	color: #fff;
	line-height: 1.5em;
}
.nav-content ul, li {
	display: block;
	padding: 0;
	margin-bottom: 1em;
}
.nav-content ul li:nth-child(1) {
	margin-top: 2em;
}
.nav-content li a {
	text-decoration: none;
	color: #fff;
}
.cover-sample {
	position: absolute;
	background-image: url('./cover-home.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
}
.light-blue {;
	background: #b2dfee;
}
.dark {
	background: #101010;
}
.dark-overlay {
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	z-index: -1;
	opacity: 0.6;
}
.footer {
	margin-top: 90px;
	width: 100%;
	height: 10px;
}
.footer a {
	font-size: 0.8em;
	padding-right: 1em;
	border-right: 1px solid #fff;
}
.footer a:nth-child(even) {
	padding-left: 1em;
}
.footer a:nth-child(odd) {
	padding-left: 1em;
}
.footer a:nth-child(1) {
	padding-left: 0;
}
.footer a:nth-child(3) {
	border: none;
}
@media screen and (max-width: 670px) {
	.footer a {
		font-size: 0.9em;
		border: none;
		padding: 0;
		display: block;
		margin-bottom: 4px;
	}
	.footer a:nth-child(even) {
		padding: 0;
	}
	.footer a:nth-child(odd) {
		padding: 0;
	}
}
@media screen and (max-width: 400px) {
	nav {
		width: 75%;
	}
	a#menu span {
		font-family: 'circular-bold', serif;
		font-size: 1em;
		color: #fff;
		position: relative;
		margin: 2.2em 0 0 -1em;
		display: inline-block;
	}
}
@media screen and (max-width: 600px) {
	.cover-sample {
		background-position: center;
		background-image: url('./cover-home.jpg');
		background-size: cover;
	}
	.main-content {
		margin: auto;
	}
	.main-content h1 {
		width: 200px;
		font-size: 4em;
	}
	.button-actions {
		padding: 0.7em;
		border: 1px solid #fff;
		border-radius: 3px;
}
}
@media screen and (max-width: 400px) {
	.main-content h1 {
		width: 100px;
		font-size: 3em;
		margin: 0 0 0.4em 0;
	}
	.main-content a {
		font-size: 0.9em;
		text-decoration: none;
		color: #fff;
	}	
	.button-actions {
		padding: 0.6em;
		border: 1px solid #fff;
		border-radius: 3px;
	}
}
@media screen and (max-width: 485px) {
	.footer a {
		border: none;
		padding: 0;
		display: block;
		margin-bottom: 4px;
	}
	.footer a:nth-child(even) {
		padding: 0;
	}
	.footer a:nth-child(odd) {
		padding: 0;
	}
}