@font-face {
    font-family: 'GT America Mono LCG Th';
    src: url('GTAmericaMonoLCG-Th.woff2') format('woff2'), url('GTAmericaMonoLCG-Th.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono LCG U Lt';
    src: url('GTAmericaMonoLCG-ULtIt.woff2') format('woff2'), url('GTAmericaMonoLCG-ULtIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono LCG U Lt';
    src: url('GTAmericaMonoLCG-ULt.woff2') format('woff2'), url('GTAmericaMonoLCG-ULt.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono LCG Th';
    src: url('GTAmericaMonoLCG-ThIt.woff2') format('woff2'), url('GTAmericaMonoLCG-ThIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono LCG Rg';
    src: url('GTAmericaMonoLCG-Rg.woff2') format('woff2'), url('GTAmericaMonoLCG-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono LCG Rg';
    src: url('GTAmericaMonoLCG-RgIt.woff2') format('woff2'), url('GTAmericaMonoLCG-RgIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono LCG Md';
    src: url('GTAmericaMonoLCG-Md.woff2') format('woff2'), url('GTAmericaMonoLCG-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono LCG Lt';
    src: url('GTAmericaMonoLCG-Lt.woff2') format('woff2'), url('GTAmericaMonoLCG-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono LCG Md';
    src: url('GTAmericaMonoLCG-MdIt.woff2') format('woff2'), url('GTAmericaMonoLCG-MdIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono LCG Lt';
    src: url('GTAmericaMonoLCG-LtIt.woff2') format('woff2'), url('GTAmericaMonoLCG-LtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono LCG Rg';
    src: url('GTAmericaMonoLCG-Bd.woff2') format('woff2'), url('GTAmericaMonoLCG-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono LCG Rg';
    src: url('GTAmericaMonoLCG-BdIt.woff2') format('woff2'), url('GTAmericaMonoLCG-BdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono LCG Bl';
    src: url('GTAmericaMonoLCG-Bl.woff2') format('woff2'), url('GTAmericaMonoLCG-Bl.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono LCG Bl';
    src: url('GTAmericaMonoLCG-BlIt.woff2') format('woff2'), url('GTAmericaMonoLCG-BlIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America LCG Ext U Lt';
    src: url('GTAmericaLCG-ExtULt.woff2') format('woff2'), url('GTAmericaLCG-ExtULt.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America LCG Ext U Lt';
    src: url('GTAmericaLCG-ExtULtIt.woff2') format('woff2'), url('GTAmericaLCG-ExtULtIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America LCG Ext Th';
    src: url('GTAmericaLCG-ExtTh.woff2') format('woff2'), url('GTAmericaLCG-ExtTh.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America LCG Ext Th';
    src: url('GTAmericaLCG-ExtThIt.woff2') format('woff2'), url('GTAmericaLCG-ExtThIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America LCG Ext Rg';
    src: url('GTAmericaLCG-ExtRg.woff2') format('woff2'), url('GTAmericaLCG-ExtRg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America LCG Ext Rg';
    src: url('GTAmericaLCG-ExtRgIt.woff2') format('woff2'), url('GTAmericaLCG-ExtRgIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America LCG Ext Md';
    src: url('GTAmericaLCG-ExtMd.woff2') format('woff2'), url('GTAmericaLCG-ExtMd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America LCG Ext Md';
    src: url('GTAmericaLCG-ExtMdIt.woff2') format('woff2'), url('GTAmericaLCG-ExtMdIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America LCG Ext Lt';
    src: url('GTAmericaLCG-ExtLt.woff2') format('woff2'), url('GTAmericaLCG-ExtLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America LCG Ext Lt';
    src: url('GTAmericaLCG-ExtLtIt.woff2') format('woff2'), url('GTAmericaLCG-ExtLtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America LCG Ext Rg';
    src: url('GTAmericaLCG-ExtBd.woff2') format('woff2'), url('GTAmericaLCG-ExtBd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America LCG Ext Rg';
    src: url('GTAmericaLCG-ExtBdIt.woff2') format('woff2'), url('GTAmericaLCG-ExtBdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America LCG Ext Bl';
    src: url('GTAmericaLCG-ExtBl.woff2') format('woff2'), url('GTAmericaLCG-ExtBl.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America LCG Ext Bl';
    src: url('GTAmericaLCG-ExtBlIt.woff2') format('woff2'), url('GTAmericaLCG-ExtBlIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}