---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body oncontextmenu="return false" onselectstart="return false">
    <aside class="brightness-toggle">
        <dark-mode-toggle
            id="dark-mode-toggle-1"
            appearance="toggle"
            dark="Dark"
            light="Light"
            permanent
        ></dark-mode-toggle>
      </aside>
    {% include ribbon.html %}
    <div class="content-wrap">
        <div class="content">
            {{ content }}
        </div>
    </div>
    {% include footer.html %}
</body>

</html>